# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/runtimeMods/

# Files from Forge MDK
forge*changelog.txt

#Custom
/logs
/saves
/world
/crash-reports
/screenshots
/config
banned-ips.json
banned-players.json
eula.txt
ops.json
options.txt
server.properties
servers.dat
usercache.json
usernamecache.json
whitelist.json