# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
config
JourneyIntoTheLight
saves
logs
options.txt
usercache.json
usernamecache.json
screenshots
crash-reports
world
servers.dat
server.properties
whitelist.json
ops.json
eula.txt
banned-ips.json
banned-players.json
/.idea/
